<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="30 seconds">

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/ampacimon.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover hourly -->
            <FileNamePattern>../logs/ampacimon-%d{yyyy-MM-dd-HH}.log</FileNamePattern>
            <!-- keep 168 hours (7 days) of history -->
            <maxHistory>168</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} [COR:%X{CORRELATION_ID_KEY}] %X{COMPONENT_TYPE_KEY}%X{USER_KEY}%X{HOST_KEY}[LID:%X{LINE_ID_KEY}] [MID:%X{AMPACIMON_ID_KEY}] %X{USER_ID}- %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE_SCE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/sce-ampacimon.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>../logs/adr-%d{yyyy-MM-dd-HH}.log</FileNamePattern>
            <maxHistory>2</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}  %-5level %logger{36} 
                %X{COMPONENT_TYPE_KEY}%X{USER_KEY}%X{HOST_KEY}[LID:%X{LINE_ID_KEY}]
                [MID:%X{AMPACIMON_ID_KEY}] %X{USER_ID}- %msg%n</pattern>
        </encoder>
    </appender>


    <appender name="DEBUG-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/ampacimon-debug.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>../logs/ampacimon-debug-%d{yyyy-MM-dd-HH}.log.zip</FileNamePattern>
            <maxHistory>168</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} [COR:%X{CORRELATION_ID_KEY}] %X{COMPONENT_TYPE_KEY}%X{USER_KEY}%X{HOST_KEY}[LID:%X{LINE_ID_KEY}] [MID:%X{AMPACIMON_ID_KEY}] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="APXFILES" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/ampacimon-apx-files.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover hourly -->
            <FileNamePattern>../logs/ampacimon-apx-files-%d{yyyy-MM-dd-HH}.log.zip</FileNamePattern>
            <maxHistory>168</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date %-5level [MID:%X{AMPACIMON_ID_KEY}] - %msg%n</pattern>
        </encoder>
    </appender>


    <appender name="ERROR-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/ampacimon-current-errors.log</file>
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>../logs/ampacimon-current-errors-%d{yyyy-MM-dd}_%i.log.zip</FileNamePattern>
            <maxFileSize>1MB</maxFileSize>
            <totalSizeCap>1MB</totalSizeCap>
            <maxHistory>1</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} [COR:%X{CORRELATION_ID_KEY}] %X{COMPONENT_TYPE_KEY}%X{USER_KEY}%X{HOST_KEY}[LID:%X{LINE_ID_KEY}] [MID:%X{AMPACIMON_ID_KEY}] %X{USER_ID}- %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/ampacimon-audit.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>../logs/ampacimon-audit-%d{yyyy-MM-dd-HH}.log</FileNamePattern>
            <maxHistory>168</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date %-5level %logger{36} [COR:%X{CORRELATION_ID_KEY}] %X{COMPONENT_TYPE_KEY}[MID:%X{AMPACIMON_ID_KEY}] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="AUDIT_SCE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/sce-audit.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>../logs/adr-audit-%d{yyyy-MM-dd-HH}.log</FileNamePattern>
            <maxHistory>2</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} [COR:%X{CORRELATION_ID_KEY}]
                %X{COMPONENT_TYPE_KEY}[MID:%X{AMPACIMON_ID_KEY}] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- ======================================== -->
    <!-- Loggers spécifiques -->
    <!-- ======================================== -->
    <logger name="com.ampacimon" level="DEBUG" />
    <logger name="org.mongodb" level="WARN" />
    <!-- ADG DEBUG -->
    <logger name="com.ampacimon.adg.protocols.iec104.model.IEC104MasterDataModel" level="INFO" />
    <logger name="com.ampacimon.adg.controller.ADGPointsPolicyController" level="INFO" />
    <!-- Engines DEBUG -->
    <logger name="com.ampacimon.engines.core.ampacity.AmpacityEngineV4" level="INFO" />
    <logger name="com.ampacimon.engines.core.sensoranalysis.SensorAnalysisEngineV2" level="INFO" />
    <!-- ACQ DEBUG -->
    <logger name="com.ampacimon.acquisition.telegram.ESagTelegramsMDB" level="INFO" />
    <logger name="com.ampacimon.nio.apx.codecs.APXProtoDecoder" level="INFO"/>
    <!-- MISC DEBUG -->
    <logger name="com.ampacimon.services.FrameDataService" level="INFO" />
    <logger name="com.ampacimon.replication.ReplicationService" level="INFO" />
    <logger name="com.ampacimon.replication.ReplicationWSClient" level="INFO" />
    <logger name="com.ampacimon.replication.ReplicationQueueSender" level="INFO" />
    <logger name="com.ampacimon.replication.ReplicationMDB" level="INFO" />
    <logger name="com.ampacimon.engine.ejb.CSVArchivingBean" level="INFO" />
    <logger name="com.ampacimon.datastructures.MongoFlexStorage" level="INFO" />

    <!-- SecAuditLogger : logs dédiés à l'audit (additivity=false pour éviter la duplication) -->
    <logger name="com.ampacimon.supervising.SecAuditLogger" level="DEBUG" additivity="false">
        <appender-ref ref="AUDIT" />
        <appender-ref ref="AUDIT_SCE" />
    </logger>

    <!-- APXFILES : logs dédiés aux transferts de fichiers APX -->
    <logger name="com.ampacimon.nio.gsmcoms.handlers.APXFileTransferResponseInboundHandler"
        level="INFO" additivity="false">
        <appender-ref ref="APXFILES" />
    </logger>

    <!-- ======================================== -->
    <!-- Root logger (INFO par défaut) -->
    <!-- ======================================== -->
    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="FILE_SCE" />
        <!-- <appender-ref ref="DEBUG-FILE" /> -->
        <appender-ref ref="ERROR-FILE" />
    </root>
</configuration>

